html{
    font-family: Calibri;
}

#choice {
    border: 1px dashed orange;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin: 10px;
}

#result {
    border: 1px dashed blue;
    flex-direction: column;

}

div {
    padding: 5px;
    text-align: center;
    margin: auto;
    align-content: center;
    align-items: center;
    display: flex;
}

table, td, th, tr {
    border-collapse: collapse;
    border: 1px black solid;
    padding:5px;
}