#choice{
    border: 1px dashed orange;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

h2{
    margin:10px;
}

#result{
    border: 1px dashed blue;

}

div{
    padding: 5px;
    text-align: center;
    margin: 5px;
}